.hlink a {
    color: #256D85;
    text-decoration: none;
    font-weight: bold;
}

/* visited link */
.hlink a:visited {
    color: #256D85;

}

/* mouse over link */
.hlink a:hover {
    color: #88BDBC;

}